.daterangepicker-dashboard {
    max-width: 350px;
    background: #fff;
    border-radius: 3px;
    margin-bottom: 20px;
    float: left;
}

.hidden {
    visibility: hidden;
}

.d-none {
    display: none;
}

.daterangepicker-dashboard:active,
.daterangepicker-dashboard:focus {
    box-shadow: none !important;
}

.form-filter-statistical {
    padding: 20px;
}

.pd-20 {
    padding: 20px;
}

.range_inputs .cancelBtn {
    background: gray;
    color: #fff;
}

.widget {
    min-height: 150px;
    width: 100%;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    color: #fff;
    border-radius: 8px;
}

.widget-orange-light {
    background: #ffbf79;
}

.widget-primary-light {
    background: #42e0f7;
}

.widget .number {
    font-size: 40px;
    font-weight: 700;
    color: #f9f9f9;
}

.widget .icon {
    font-size: 65px;
    color: rgb(173 173 173);
    opacity: 0.4;
}

.widget span {
    text-transform: uppercase;
    font-size: 17px;
}

.item-info-product .item_price {
    font-size: 20px;
    color: #d60404;
}

.customer-rev ul li {
    display: flex;
    justify-content: start;
}

.customer-rev ul li i {
    font-size: 20px;
    margin: 0 3px;
}

.customer-rev ul li a {
    width: 100%;
    display: flex;
    align-items: center;
}

.sticky-menu {
    position: sticky;
    z-index: 10;
    top: 0;
}

.modal-edit-product {
    overflow-y: scroll;
    max-height: 600px;
}

.description {
    max-height: 280px;
    overflow-y: auto;
}

.label-success {
    background: #1cc88a;
    color: #fff;
    font-size: 12px;
    padding: 2px 1px;
    border-radius: 5px;
    min-width: 100px;
    text-align: center;
}

.label-warning {
    background: #ffab4e;
    color: #fff;
    font-size: 12px;
    padding: 2px 1px;
    border-radius: 5px;
    min-width: 100px;
    text-align: center;
}

.label-danger {
    background: #f36254;
    color: #fff;
    font-size: 12px;
    padding: 2px 1px;
    border-radius: 5px;
    min-width: 100px;
    text-align: center;
}

.label-info {
    background: #7194f7;
    color: #fff;
    font-size: 12px;
    padding: 2px 1px;
    border-radius: 5px;
    min-width: 100px;
    text-align: center;
}

.required {
    color: red;
    font-size: 13px;
}

.dataTables_filter,
.dataTables_info,
.dataTables_paginate {
    display: none;
}

.dt-button {
    background: #ffab4e !important;
    color: #fff !important;
    border: 0 !important;
    border-radius: 5px !important;
}

.dropdown-order-admin li {
    padding: 5px 10px;
}

.btn-read-more {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 10px;
}

.btn-read-more a {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
    color: red;
    text-shadow: none !important;
}

.btn-read-more a:hover {
    color: #c51717;
}

.agileits-sear-head {
    text-align: left;
    font-size: 20px;
}

.sidebar * {
    text-align: left !important;
}

.sidebar .agileits-sear-head {
    font-size: 20px;
    text-shadow: none;
}